<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	
	{% block head %}
	
		<head>
			
			<meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			
			<title>{% block title %}{% endblock %}</title>
			
			{% block stylesheets %}
				{% stylesheets
					filter='cssrewrite'
					'bundles/brscore/css/global.css'
					'bundles/brsfront/css/base.css'
					'bundles/brspage/css/page.css'
				%}
				<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
				{% endstylesheets %}
			{% endblock %}
			
			{% block css %}
			{% endblock %}
			
			{% block javascripts %}
				{% javascripts
					'bundles/brscore/js/jive/jquery.1.7.1.min.js'
					'bundles/brscore/js/jive/lib/oop.js'
				%}
				<script src="{{ asset_url }}"></script>
				{% endjavascripts %}
			{% endblock %}
			
			{% block js %}
			{% endblock %}
			
			{% block meta %}
				<meta name = "viewport" content = "width = 1250">
			{% endblock %}
			
			{% block favicon %}
				<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
			{% endblock %}
			
		</head>
		
	{% endblock %}
	
	{% block body %}
	
		<body>
		
			<div id="container">
			
				{% block container %}
				
					
			
		  		{% endblock %}
		  		
			</div>
			
			{% block bottomscripts %}
			
			
			{% endblock %}
			
		</body>
		
	{% endblock %}
	
</html>