<!DOCTYPE html>

{% block html_tag %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	
<!-- 
 __                                                                 __               __                       
/\ \      __                                                       /\ \__           /\ \  __                  
\ \ \____/\_\     __       _ __  ___    ___    ___ ___         ____\ \ ,_\  __  __  \_\ \/\_\    ___    ____  
 \ \  __ \/\ \  /'_ `\    /\`'__\ __`\ / __`\/' __` __`\      / ,__\\ \ \/ /\ \/\ \ / _  \/\ \  / __`\ / ,__\ 
  \ \ \/\ \ \ \/\ \/\ \   \ \ \/\ \/\ \\ \/\ \\ \/\ \/\ \    /\__, `\\ \ \_\ \ \_\ \\ \/\ \ \ \/\ \/\ \\__, `\
   \ \____/\ \_\ \____ \   \ \_\ \____/ \____/ \_\ \_\ \_\   \/\____/ \ \__\\ \____/ \_____\ \_\ \____//\____/
    \/___/  \/_/\/___/\ \   \/_/\/___/ \/___/ \/_/\/_/\/_/    \/___/   \/__/ \/___/ \/____ /\/_/\/___/ \/___/ 
                  /\____/                                                                                     
                  \/___/                                                                            think big                              
				  			  
	A creative web, print, and technology firm based in Portland, ME.
	
	30 Danforth St. Suite 304, Portland, ME 04101
	(207) 221-2618
	info@bigroomstudios.com 

	ASCII Art Generated @ http://patorjk.com/software/taag/
	
-->


{% endblock %}

	{% block head %}

	<head>

		{# Meta tags #}
		{% block meta %}
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	{% endblock %}

    	{# Page name #}
		{% block metatitle %}<title>{% block title %}{% endblock %} {% block site_name %}{% endblock %}</title>{%endblock%}
		{% block metadescription %}<meta name="description" content="{% block description %}{% endblock %}">{% endblock %}

		{# Stylesheets #}
		{% block stylesheets %}
			{% stylesheets
				filter='cssrewrite'
				'bundles/brscore/css/normalize.css'
				'bundles/brsfront/css/global.css'
				'bundles/brspage/css/page.css'
			%}
			<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
			{% endstylesheets %}
			<!-- Page -->
		{% endblock %}

		{# Favicons #}
		{% block favicon %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
		{% endblock %}

		{# Javascripts #}
		{% block javascripts %}
			{% javascripts
				'bundles/brsfront/js/modernizr.custom.96376.js'
			%}
			<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			<!--[if lte IE 8]><script src="/bundles/brsfront/js/rem.min.js"><![endif]-->
		{% endblock %}

	</head>

	{% endblock %}
	
	{% if app.debug %}
	<!--
	{% block templates %}
	BRSFrontBundle:Frame:default.html.twig
	{% endblock %}
	-->
	{% endif %}

	{% block body %}

	<body>

		<!--[if lt IE 7]><p class="notice__chrome-frame">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]-->

        <p class="notice__js">Javascript is <strong>currently disabled</strong> in your browser. This site requires Javascript to function correctly. Please <a href="http://enable-javascript.com/">enable Javascript in your browser</a>!</p>

		{% block wrapper %}

		<div class="wrapper">

		</div><!-- end .wrapper -->

		{% endblock %}

		{% block bottomscripts %}
			{% javascripts
				'bundles/brscore/js/jive/jquery.1.7.1.min.js'
				'bundles/brscore/js/jive/lib/oop.js'
			%}
			<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}

	</body>

	{% endblock %}

</html>